<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-color: 	#008B8B;
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-style:italic;
}

</style>
</head>
<body>
	  <form action='/predict' method="POST">

<div class="hero-image">
  <div class="hero-text">
   <h2 style="font-style: oblique"; > Details of Glass Classification</h2> 
<p>The usage of glass is increasing not only in commercial but also residential buildings instead of the conventional exterior material like brick wall, cement, and granite. In all the major metros of India today, we see quite good number of multi storied buildings with various designs which were not seen in the past.
 We do not know if the glass usage is based on the end-users wish or its mere exhibition of professional excellence among the leading architects leading to different to the city.
 However, it can be predicted definitely that the usage of glass is not going to reduce in near future.
With the influx of MNCs, demand for glass-clad buildings has gone up as they want their offices to conform to international standards of architecture or the architects are influenced by MNC’s.
One major advantage of a glass building is that it allows you to use sunlight as the lighting source. Further, it is observed that the glass avoids the feeling of working in submarine ambience, especially for employees working continuously in front of the computer. Therefore, some of the companies are designing the open cafeterias so that employees get maximum sunlight. Another advantage of glass usage is that it allows to more space per space.</br>
</p>
  </div>
</div></form>



</body>
</html>